<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new_gamer.html</title>
</head>
<body>
    <a href="/gamers">Home</a>
    <h1>New Gamer Form</h1>
    <form action="/gamers/create" method="post">    <!-- This tells server py it needs an "@approute('/gamers/create')" -->
        <div>
            <label for="f_name">First Name:</label>
            <input type="text" name="f_name">
        </div>
        <div>
            <label for="">Last Name:</label>
            <input type="text" name="l_name">
        </div>
        <div>
            <label for="">Tag:</label>
            <input type="text" name="tag">
        </div>
        <div>
            <label for="">Clan ID:</label>
            <input type="text" name="clan_id">
        </div>
        <input type="submit" value="Register Gamer">
    </form>
</body>
</html>