<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gamers.html</title>
</head>
<body>
    <h1 class="text-center">Gamers are populated:</h1>
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>tag</th>
            <th>Created_at</th>
            <th>updated_at</th>
        </tr>
    </thead>
    <tbody>
        <!-- Diji Loop Here -->
        {% for gamer in gamers %}
        <tr>
            <td>{{gamers.f_name}}</td>
            <td>{{gamers.l_name}}</td>
            <td>{{gamers.tag}}</td>
            <td>{{gamers.created_at}}</td>
            <td>{{gamers.updated_at}}</td>
        </tr>
        {% endfor %}
    </tbody>
</body>
</html>