<!-- GUIDANCE FOR PROJECT:  GORDON B -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update A User</title>
</head>
<body>
    <h1>
        edit.html
    </h1>
    <form action="/user/update" method="POST">
        <label for="f_name">F_Name</label>
        <input type="text" name="f_name">
        <label for="l_name">L_Name</label>
        <input type="text" name="l_name">
        <label for="email">Email</label>
        <input type="text" name="email">
        <input type="submit" value="submit">
    </form>
    <a href="/">Home</a>
</body>
</html>