<!-- GUIDANCE FOR PROJECT:  GORDON B-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Users</title>
</head>
<body>
    <h1>read.html</h1>
    <table>
        <thead>
            <th>ID</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Created At</th>
            <th>Actions</th>
        </thead>
        <tbody>
            {% for user in all_users %}
            <tr>
                <td>{{user.id}}</td>
                <td>{{user.l_name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.created_at}}</td>
                <td><a href="/user/show/{{user.id}}">Show</a> | <a href="/edit/{{user.id}}">Edit</a> | <a
                        href="/user/delete/{{user.id}}">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/user/create">Create Page</a>
</body>
</html>