<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>update_gamer.html</title>
</head>
<body>
    <a href="/gamers">Home</a>
    <h2>Profile: {{gamers.f_name +" "+ gamers.l_name}}</h2> <!--pass the table.col so page is tailored to specific user-->
    <h3>Gamer Tag:{{gamers.tag}}</h3>               
    <h4>Created at:{{gamers.created_at}}</h4>   
    <h4>Updated at:{{gamers.updated_at}}</h4>          
    <h4>Clan id:{{gamers.clan_id}}</h4>          
    
</body>
</html>