<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    abc its easy as 1276893402598234576890237689045.
    <h1>
        Add A User
    </h1>
    <form action="/user/add" method="POST">
        <label for ="f_name">F_Name</label>
        <input type="text" name="f_name">
        <label for ="l_name">L-Name</label>
        <input type="text" name="l_name">
        <label for ="email">Email</label>
        <input type="text" name="email">
        <input type="submit" value="submit">
    </form>
    <a href="/">Home</a>
</body>
</html>